flows (1).json
[{"id":"3f5386a2.4b15fa","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6b2b8cc0.514ab4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"1b49f001.19cf5","type":"ibmiot","z":"","name":"Iot","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"20d1abaa.3cf4b4","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#ffffff","baseFont":"Verdana,Verdana,Geneva,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#ffffff","edited":true},"page-titlebar-backgroundColor":{"value":"#ffffff","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#ffffff","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#ffffff","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Verdana,Verdana,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":5,"cy":5,"px":0,"py":0}}},{"id":"bde7613a.7db73","type":"ui_tab","z":"","name":"Motor Status","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"f7618f76.9f4bd","type":"ui_group","z":"","name":"Iot Humidity","tab":"bde7613a.7db73","order":4,"disp":true,"width":"9","collapse":false},{"id":"3eb0328e.d5fd1e","type":"ui_group","z":"","name":"Iot Temperature","tab":"bde7613a.7db73","order":1,"disp":true,"width":"9","collapse":false},{"id":"85a78ee0.2710e","type":"ui_group","z":"","name":"Iot Soil Temperature","tab":"bde7613a.7db73","order":3,"disp":true,"width":"9","collapse":false},{"id":"26402cf4.4ce564","type":"ui_group","z":"","name":"Motor Command","tab":"bde7613a.7db73","order":5,"disp":true,"width":"9","collapse":false},{"id":"e7dfd038.9fef9","type":"ui_group","z":"","name":"Motor Command","tab":"b7a92ea9.82849","order":1,"disp":true,"width":"6","collapse":false},{"id":"b7a92ea9.82849","type":"ui_tab","z":"","name":"Buttons","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"ec0697e8.a1fc48","type":"ui_group","z":"","name":"Motor Status","tab":"bde7613a.7db73","order":5,"disp":true,"width":"9","collapse":false},{"id":"138642f5.7be9dd","type":"ui_tab","z":"","name":"Weather","icon":"dashboard","disabled":false,"hidden":false},{"id":"8c6091dc.0a785","type":"ui_group","z":"","name":"Wind Speed","tab":"138642f5.7be9dd","order":1,"disp":true,"width":"6","collapse":false},{"id":"28542d98.d4e532","type":"ui_group","z":"","name":"Temperature","tab":"138642f5.7be9dd","order":2,"disp":true,"width":"6","collapse":false},{"id":"c5e15108.7de27","type":"ui_group","z":"","name":"Humidity","tab":"138642f5.7be9dd","order":3,"disp":true,"width":"6","collapse":false},{"id":"57397473.30631c","type":"ui_group","z":"","name":"Pressure","tab":"138642f5.7be9dd","order":4,"disp":true,"width":"6","collapse":false},{"id":"85191526.f09b28","type":"ui_group","z":"","name":"Coordinates","tab":"138642f5.7be9dd","order":5,"disp":true,"width":"6","collapse":false},{"id":"b75b6b17.636198","type":"ibmiot in","z":"3f5386a2.4b15fa","authentication":"apiKey","apiKey":"1b49f001.19cf5","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"34","applicationId":"","deviceType":"Iot","eventType":"iotsensor","commandType":"event_1","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":350,"y":140,"wires":[["18f15a6a.215976","f9b8d9fe.a69fb8","7166724d.d7616c"]]},{"id":"9ad80279.45102","type":"debug","z":"3f5386a2.4b15fa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":340,"wires":[]},{"id":"f9b8d9fe.a69fb8","type":"function","z":"3f5386a2.4b15fa","name":"humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":60,"wires":[["9ad80279.45102","622d212.e2d96e"]]},{"id":"18f15a6a.215976","type":"function","z":"3f5386a2.4b15fa","name":"temperature","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":140,"wires":[["9ad80279.45102","5887cbca.c2ac74"]]},{"id":"7166724d.d7616c","type":"function","z":"3f5386a2.4b15fa","name":"Soil Temp","func":"msg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":200,"wires":[["9ad80279.45102","92681184.a4ae4"]]},{"id":"5887cbca.c2ac74","type":"ui_gauge","z":"3f5386a2.4b15fa","name":"","group":"3eb0328e.d5fd1e","order":1,"width":0,"height":0,"gtype":"donut","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#000000"],"seg1":"","seg2":"","x":950,"y":140,"wires":[]},{"id":"622d212.e2d96e","type":"ui_gauge","z":"3f5386a2.4b15fa","name":"","group":"f7618f76.9f4bd","order":0,"width":"0","height":"0","gtype":"donut","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#07e45f","#e6e600","#11ee2a"],"seg1":"","seg2":"","x":940,"y":60,"wires":[]},{"id":"92681184.a4ae4","type":"ui_gauge","z":"3f5386a2.4b15fa","name":"","group":"85a78ee0.2710e","order":2,"width":0,"height":0,"gtype":"donut","title":"Soil Temperature","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#2f33d2"],"seg1":"","seg2":"","x":970,"y":200,"wires":[]},{"id":"4f5b6ce1.7a1374","type":"http request","z":"3f5386a2.4b15fa","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=JAMMU,IN&appid=b9759690fb0c032f914e07beca82a0b5","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":340,"wires":[["9ad80279.45102"]]},{"id":"41d4d790.a7c718","type":"inject","z":"3f5386a2.4b15fa","name":"","topic":"","payload":"","payloadType":"date","repeat":"7","crontab":"","once":true,"onceDelay":"7","x":390,"y":340,"wires":[["4f5b6ce1.7a1374"]]},{"id":"6e393f5d.dd856","type":"ui_button","z":"3f5386a2.4b15fa","name":"","group":"26402cf4.4ce564","order":0,"width":0,"height":0,"passthru":false,"label":"Motor ON","tooltip":"","color":"Black","bgcolor":"Yellow","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":420,"y":480,"wires":[["9ad80279.45102","6efe5576.b17e1c","63f92baf.a13b04"]]},{"id":"d473985c.54b808","type":"ui_button","z":"3f5386a2.4b15fa","name":"","group":"26402cf4.4ce564","order":1,"width":0,"height":0,"passthru":false,"label":"Motor OFF","tooltip":"","color":"Black","bgcolor":"Yellow","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":430,"y":600,"wires":[["9ad80279.45102","6efe5576.b17e1c","c4c89fd6.5a74c"]]},{"id":"6efe5576.b17e1c","type":"ibmiot out","z":"3f5386a2.4b15fa","authentication":"apiKey","apiKey":"1b49f001.19cf5","outputType":"cmd","deviceId":"New","deviceType":"Iot","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":760,"y":540,"wires":[]},{"id":"63f92baf.a13b04","type":"ui_toast","z":"3f5386a2.4b15fa","position":"dialog","displayTime":"5","highlight":"Yellow","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"Motor On is received","name":"","x":970,"y":480,"wires":[[]],"inputLabels":["NScjfbd"]},{"id":"c4c89fd6.5a74c","type":"ui_toast","z":"3f5386a2.4b15fa","position":"dialog","displayTime":"5","highlight":"Yellow","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"Motor Off is received","name":"","x":970,"y":600,"wires":[[]]},{"id":"2c99a8de.41a818","type":"inject","z":"6b2b8cc0.514ab4","name":"","topic":"","payload":"","payloadType":"date","repeat":"7","crontab":"","once":true,"onceDelay":"7","x":130,"y":340,"wires":[["ec08c557.897cf8"]]},{"id":"ec08c557.897cf8","type":"http request","z":"6b2b8cc0.514ab4","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=JAMMU,IN&appid=b9759690fb0c032f914e07beca82a0b5","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":340,"wires":[["4fba0603.fb3aa8","33b10c0a.d29b94","8d9df0c5.68874","36f54391.aa9c8c","c3bac5bc.fefa58"]]},{"id":"9809959e.e91bd8","type":"debug","z":"6b2b8cc0.514ab4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":360,"wires":[]},{"id":"33b10c0a.d29b94","type":"change","z":"6b2b8cc0.514ab4","name":"Wind Speed","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.wind.speed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":160,"wires":[["9809959e.e91bd8","7f5145fc.1a47ec"]]},{"id":"4fba0603.fb3aa8","type":"change","z":"6b2b8cc0.514ab4","name":"Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":240,"wires":[["9809959e.e91bd8","78b32f3a.da703"]]},{"id":"8d9df0c5.68874","type":"change","z":"6b2b8cc0.514ab4","name":"Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":500,"wires":[["9809959e.e91bd8","2e731a53.f473d6"]]},{"id":"36f54391.aa9c8c","type":"change","z":"6b2b8cc0.514ab4","name":"Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":80,"wires":[["185641af.95914e","9809959e.e91bd8"]]},{"id":"185641af.95914e","type":"ui_gauge","z":"6b2b8cc0.514ab4","name":"","group":"28542d98.d4e532","order":1,"width":"6","height":"6","gtype":"gage","title":"Temperature","label":"Kelvin","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":80,"wires":[]},{"id":"7f5145fc.1a47ec","type":"ui_gauge","z":"6b2b8cc0.514ab4","name":"","group":"8c6091dc.0a785","order":2,"width":"6","height":"6","gtype":"gage","title":"Wind Speed","label":"km/h","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#de1212"],"seg1":"","seg2":"","x":910,"y":160,"wires":[]},{"id":"78b32f3a.da703","type":"ui_gauge","z":"6b2b8cc0.514ab4","name":"","group":"c5e15108.7de27","order":2,"width":"6","height":"6","gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":240,"wires":[]},{"id":"2e731a53.f473d6","type":"ui_gauge","z":"6b2b8cc0.514ab4","name":"","group":"57397473.30631c","order":3,"width":"6","height":"6","gtype":"gage","title":"Pressure","label":"mBar","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":500,"wires":[]},{"id":"c3bac5bc.fefa58","type":"change","z":"6b2b8cc0.514ab4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.coord","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":600,"wires":[["b674f103.5529f"]]},{"id":"b674f103.5529f","type":"ui_text","z":"6b2b8cc0.514ab4","group":"85191526.f09b28","order":1,"width":"5","height":"5","name":"","label":"Coordinates","format":"{{msg.payload}}","layout":"col-center","x":910,"y":620,"wires":[]}]